// SYNTH BLUE
$command_blue: rgba(10, 120, 178, 1);
$fluo_blue: rgba(1, 253, 246, 1);
$oxy_blue: rgba(1, 22, 56, 1);
$light_grey: rgba(240, 237, 238, 1);
$dark_grey: rgba(191, 182, 187, 1);

// SYNTH PURPLE
$smitten: rgba(197, 74, 131, 1);
$ruby: rgba(219, 25, 91, 1);
$violet: rgb(111, 15, 163);
$xiketic: rgba(4, 1, 18, 1);