*, html, :root {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.h1,
.h2, 
.h3,
.h4, 
.h5, 
.h6{
  font-weight: 700;
  margin: unset;
}

div, p, span, a {
  font-weight: 300;
  margin: unset;
}
